<div layout-gt-md="row" layout="column" layout-align-gt-md="center start" layout-margin layout-fill-gt-md layout-padding-gt-md>
  <!-- Container #2 -->
  <md-content id="description" flex flex-gt-md="30" class="md-whiteframe-z5">
    <p>{{ description }}</p>
  </md-content>

  <!-- Container #3 -->
  <md-content id="content" flex flex-gt-md="55" class="md-whiteframe-z5">
    <div ng-hide="submitted">
      <h2>Blood Donation Form</h2>
      <h3>Contact Details</h3>
      <div layout="column">
        <form name="bloodForm">
          <div>
            <md-input-container>
              <label>Name</label>
              <input required name="name" ng-model="user.name" placeholder="John Doe">
              <div ng-messages="bloodForm.name.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Age</label>
              <input required name="age" type="number" ng-model="user.age" placeholder="25">
              <div ng-messages="bloodForm.age.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Email</label>
              <input required ng-model="user.email" type="email" placeholder="johndoe@example.com">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Phone</label>
              <input required name="phone" ng-model="user.phone" type="tel" placeholder="1234567890">
              <div ng-messages="bloodForm.phone.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Address</label>
              <textarea required name="address" ng-model="user.address" columns="2" md-maxlength="150" placeholder="House No. 4, X Street, Y Colony"></textarea>
              <div ng-messages="bloodForm.address.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" style="height: 100px;">
            <md-select required name="group" placeholder="Blood Group" ng-model="user.group">
              <md-option value="A+">A+</md-option>
              <md-option value="A-">A-</md-option>
              <md-option value="B+">B+</md-option>
              <md-option value="B-">B-</md-option>
              <md-option value="O+">O+</md-option>
              <md-option value="O-">O-</md-option>
            </md-select>
            <div ng-messages="bloodForm.group.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
        </form>
      </div>

      <section layout="column" layout-align="center center">
        <md-button ng-click="submit()" ng-hide="loading" layout-align="center center" class="md-raised md-accent">
          Give Red
        </md-button>
        <div ng-show="error" class="formError">
          <ng-md-icon icon="error" style="fill:red" size="20"></ng-md-icon>
          <span>The form is incomplete</span>
        </div>
        <md-progress-circular ng-show="loading" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </section>

    </div>

    <div ng-show="submitted">
      <p>Thanks for the submission. We would contact you soon.</p>
    </div>
  </md-content>
</div>
